@charset "utf-8";
html,
body,
div,
ul,li,
p,
h2 {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

body {
	font-family: "Microsoft Yahei";
	font-size: 14px;
}

.clearfix:after {
	display: block;
	height: 0;
	content: '';
	clear: both;
}

.container {
	background-color: #f4f5f6;
}
.margin{
	width: 1200px;
	margin: 0 auto;
}
