@charset "UTF-8";

.rotate {
    -webkit-animation:rotateH infinite 20s linear;
    -o-animation:rotateH infinite 20s linear;
    animation:rotateH infinite 20s linear;
}

@keyframes rotateH {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}